@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/utilities';

$utilities:(
    "START":(
        property:margin-left,
        class:START,
        values:(
            10:10%,
            20:20%,
            30:30%,
            35:35%,
            40:40%
        )
    ),
    "marginB":(
        property:margin-bottom,
        class:marginB,
        values:(
            1:20px,
            2:30px,
            3:40px,
            4:50px,
            5:60px
        )
    ),
    "marginT":(
        property:margin-top,
        class:marginT,
        values:(
            1:20px,
            2:30px,
            3:40px,
            4:50px,
            5:60px
        )
    )
);


@import '../node_modules/bootstrap/scss/bootstrap.scss';